<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>performSelector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2941B5F31BB940AD00E2C7EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2941B60C1BB940AD00E2C7EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2941B6171BB940AD00E2C7EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
